<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <title>World Airports Demo</title>

        <link rel="stylesheet" href="/static/{{ theme }}.css" type="text/css" />
        <script src="/static/jquery-1.10.1.js"></script>

    <!-- Define bokeh resources and script -->
    {{ plot_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}

    </head>
    <body>
        <header class="dashboardHeader">
        </header>

        <div class="dashboardBody">
            <div id="plot_wrapper">
                {{ extra_divs.main_plot|indent(4)|safe }}
            </div>
        </div>
            <div id="side_bar">
                <div id="info_wrapper">
                    <div id="details_panel">
                        <p>Zoom in an area and select an airport to display more information.</p>
                    </div>
                </div>
            </div>

        <div>
            <label>Theme:</label>
            <select id="theme_select" class="mystyles">
               <option {{ theme_options.default }}>default</option>
               <option {{ theme_options.dark }}>dark</option>
                <option {{ theme_options.creme }}>creme</option>
            </select>
        </div>

        <script src="/static/jquery-1.10.1.js"></script>
        <script type="text/javascript">
            document.getElementById( 'theme_select' ).onchange = function() {
                window.open( "http://127.0.0.1:5050/dashboard?theme=" + this.options[ this.selectedIndex ].value, '_self');
            };
        </script>
    </body>
</html>
